.sentence p {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  transition: color .3s;
}

.white {
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
